@charset "utf-8";

*{
    margin: 0;
    padding:0;
}

/* definindo a estrutura principal*/
#cabecalho, #conteudo, #rodape {
    width: 960px;
    margin: 0 auto;
}

#cabecalho{
    height: 100px;
}

a:link {
    color: #0A79DF;
    text-decoration: none; /* para os link não ficarem sublinhados*/
}

a:visited {
    color:#30336B;
}

a:hover {
    color: #6A89CC;
}

#menu-principal{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu-principal ul {
    list-style: none; /* tirar o formato de lista */
}

#menu-principal li {
    padding: 10px;
    display: inline; /* deixar alinhado */ 
    background-color: #7FB7BE;
    margin-left: 30px;
    margin-right: 30px;
    border-radius:15px;
}

#menu-principal ul li a{
	text-decoration: none;
	color: black; /* cor das letras do menu */ 
}

#menu-principal ul li a:hover{
	text-decoration: none; /* tirar o sublinhado dos links */
	color:#8395A7; /* cor do link quando eu passar o mouse*/
}

#logo {
    display: block; 
}

#logo img {
    width: 600px ;
    height: 150px ;
}

#divBusca{
    background-color:#7FB7BE;
    border-radius:15px;
    width:300px;
    float: right;
    margin-top: 100px;
  }
  
#txtBusca{
    float:right;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

#divBusca img{
    width: 30px;
    height: 30px;
}

#corpo{
    background-color: #713E5A;
}

#navegacao {
    display: block;
    padding: 10px;
}

#conteudo img {
    margin: 10px;
    height: 200px;
    width: 200px;;
}