@charset "utf-8";

*{
    margin: 0;
    padding:0;
}

/* definindo a estrutura principal*/
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #6c757d;
}

a:link {
    color: #0A79DF;
    text-decoration: none; /* para os link não ficarem sublinhados*/
}

a:visited {
    color:#30336B;
}

a:hover {
    color: #6A89CC;
}

#menu-principal{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu-principal ul {
    list-style: none; /* tirar o formato de lista */
}

#menu-principal li {
    padding: 10px;
    display: inline; /* deixar alinhado */ 
    background-color: #7FB7BE;
    margin-left: 30px;
    margin-right: 30px;
    border-radius:15px;
}

#menu-principal ul li a{
	text-decoration: none;
	color: black; /* cor das letras do menu */ 
}

#menu-principal ul li a:hover{
	text-decoration: none; /* tirar o sublinhado dos links */
	color:#8395A7; /* cor do link quando eu passar o mouse*/
}

#corpo{
    background-color: #dee2e6;
}

#navegacao {
    display: block;
    padding: 10px;
}

#cabecalho-principal
{
	background: url("../imagens/logo.jpg") no-repeat top center;
	background-size: cover;
}

#cabecalho {
	position: relative;
	overflow: hidden;
	height: 400px;
}

.conteudo {
	width: 1200px;
	margin: 0px auto;
}

#logo {
	position: absolute;
	top: 3em;
	padding: 1em 1em;
	left: 0;
    text-align: center;
}

#corpo-site {
	background: #e1e5f2;
	margin: 0px 20px;
}

/* page */

.rodape-fora{
    clear: both;

}

#rodape{
    color: white;
    background: url(../imagens/backgroundrodape.png) no-repeat center;
    background-size: 100%;

}

#pagina {
	overflow: hidden;
	padding: 5em 0em;
}

	#pagina img
	{
		margin-bottom: 1em;
	}

	#pagina .titulo
	{
		margin-bottom: 2em;
	}

	#pagina .titulo h2
	{
		font-size: 1.5em;
		font-weight: 400;
		color: rgba(0,0,0,0.8);
	}
	
	#pagina .titulo .linha-abaixo
	{
		display: block;
		padding-bottom: 2em;
		color: rgba(0,0,0,0.7);
	}

	#pagina {
		overflow: hidden;
		padding: 5em 0em;
	}
	
		#pagina img
		{
			margin-bottom: 1em;
		}
	
		#pagina .titulo
		{
			margin-bottom: 2em;
		}
	
		#pagina .titulo h2
		{
			font-size: 1.5em;
			font-weight: 400;
			color: rgba(0,0,0,0.8);
		}
		
		#pagina .titulo .linha-abaixo
		{
			display: block;
			padding-bottom: 2em;
			color: rgba(0,0,0,0.7);
		}
	
	
	/* Portfolio */
	
		#portfolio-principal
		{
			overflow: hidden;
			padding: 5em 0em;
			background: #c5d8d1;
			background-image: url(images/overlay.png);
			background-repeat: repeat;
			border-top: 1px solid rgba(0,0,0,.05);
		}
		
		#portfolio
		{
		text-align: center;
		margin-left: 200px;
		}
	
		#portfolio .caixa
		{
			color: #6c757d;
		}
		
		#portfolio h3
		{
			display: block;
			padding-bottom: 1em;
			text-transform: uppercase;
			font-size: 1.2em;
			font-weight: 400;
			color: rgba(0,0,0,0.7);
		}
	
		#portfolio .titulo h2
		{
			color: rgba(0,0,0,0.8);
			margin-right:300px;
		}
		
		#portfolio .titulo .linha-abaixo
		{
			display: block;
			padding-bottom: 2em;
			color: #6c757d;
			margin-right:300px;
	
	
		}
	
		.coluna1,
		.coluna2,
		.coluna3
		{
			width: 282px;
			float: left;
			margin-right: 24px;
		
		}

.endereco {
    font-size: 16px; /* tamanho da fonte */ 
    margin-bottom: 1.5em;
    line-height: 1.4em;
}
p {
    font-size: 16px; /* tamanho da fonte */ 
    margin-bottom: 1.5em;
	line-height: 1.4em;
	text-align: justify;
}

#arrumandoimg {
	margin-top: 28px;
}

/* BOTÃO */

.botao
{
	display: inline-block;
	margin-top: 2em;
	padding: 0em 1em;
	background: #FC814A	;
	letter-spacing: 0.10em;
	line-height: 3em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1em;
	color: #FFF;
}

/* Portfolio */

#portfolio-principal
{
	overflow: hidden;
	padding: 5em 0em;
	background: #c5d8d1;
	background-image: url(images/overlay.png);
	background-repeat: repeat;
	border-top: 1px solid rgba(0,0,0,.05);
}

#portfolio
{
text-align: center;
margin-left: 200px;
}

#portfolio .caixa
{
	color: #6c757d;
}

#portfolio h3
{
	display: block;
	padding-bottom: 1em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 400;
	color: rgba(0,0,0,0.7);
}

#portfolio .titulo h2
{
	color: rgba(0,0,0,0.8);
	margin-right:300px;
}

#portfolio .titulo .linha-abaixo
{
	display: block;
	padding-bottom: 2em;
	color: #6c757d;
	margin-right:300px;


}

